repos:
- repo: https://github.com/dbt-checkpoint/dbt-checkpoint
  rev: v2.0.7
  hooks:
  - id: check-script-has-no-table-name
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.5.0
  hooks:
    - id: sqlfluff-lint
      args: [--ignore, "templating"]
