name: Deployment Pipeline for main

on:
  push:
    branches:
      - main

permissions:
  contents: write

env:
  DBT_PROFILES_DIR: ./
  POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
  POSTGRES_PROD_USER: ${{ secrets.POSTGRES_PROD_USER }}
  POSTGRES_PROD_PW: ${{ secrets.POSTGRES_PROD_PW }}

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install the dependencies
        run: uv sync

      - name: Run dbt to generate metadata
        run: |
          uv run dbt deps
          uv run dbt parse --target prod
          uv run dbt docs generate --target prod
        
      - name: Upload manifest and catalog to S3
        run: |
          aws s3 cp target/manifest.json ${{ secrets.AWS_BUCKET_URL }}
          aws s3 cp target/catalog.json ${{ secrets.AWS_BUCKET_URL }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: eu-central-1

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target
          branch: gh-pages
